In [1]:
import pandas as pd
from keplergl import KeplerGl

In [12]:
data_path = "C:/Users/mor96198/OneDrive - Mott MacDonald/Documents/Kent Street GIS Project"
location = pd.read_csv(f"{data_path}/MM_Offices_Around_The_World.csv")
location.rename(columns={"Longitud":"Latitude",'Latitude':"Longitude"}, inplace=True)
location.head()

,FID,Shape *,kml_addres,kml_id,Longitude,Latitude,OfficeName,Country
0,0,Point ZM,,kml_1,144.949906,-37.821016,Melbourne,AUS
1,1,Point ZM,,kml_2,151.204226,-33.870186,Sydney,AUS
2,2,Point ZM,"4-5 Union Terrace, Aberdeen AB10 1NJ, UK",kml_3,-2.103146,57.145964,Aberdeen,GBR
3,3,Point ZM,"Spring Bank House, 33 Stamford St, Altrincham ...",kml_4,54.364017,24.490816,Abu Dhabi,ARE
4,4,Point ZM,,kml_5,-2.347197,53.389600,Altrincham,GBR

## Set up map

In [13]:
# Load an empty map
from keplergl import KeplerGl
map_1 = KeplerGl()
map_1.add_data(data=location, name='MM Offices')
#map_1.config = config

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [14]:
map_1

KeplerGl(data={'MM Offices': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, â€¦

In [15]:
map_1.save_to_html(file_name="my_keplergl_map.html")

Map saved to my_keplergl_map.html!